In [47]:
# import the required packages
#importing the required libraries
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt
from sklearn.cluster import KMeans
from sklearn.preprocessing import StandardScaler

## 1. Build Clustering Models using Numerical Data

### 1.1 Data exploration and manipulation

In [48]:
# Import dataset: Shopping Mall Customers Information
data = pd.read_csv('data\\Used_Car_Price.csv')

In [49]:
data.head()

,MAKE,MODEL,PRICE,YEAR,KILOMETER,FUEL TYPE,TRANSMISSION,COLOR,OWNER,SELLER TYPE,ENGINE CAPACITY,MAX POWER,MAX TORQUE,DRIVETRAIN,LENGTH,WIDTH,HEIGHT,SEATING CAPACITY,FUEL TANK CAPACITY
0,Honda,Amaze 1.2 VX i-VTEC,12625,2017,87150,Petrol,Manual,Grey,First,Corporate,1198.0,87 bhp @ 6000 rpm,109 Nm @ 4500 rpm,FWD,3990.0,1680.0,1505.0,5.0,35.0
1,Maruti Suzuki,Swift DZire VDI,11250,2014,75000,Diesel,Manual,White,Second,Individual,1248.0,74 bhp @ 4000 rpm,190 Nm @ 2000 rpm,FWD,3995.0,1695.0,1555.0,5.0,42.0
2,Hyundai,i10 Magna 1.2 Kappa2,5500,2011,67000,Petrol,Manual,Maroon,First,Individual,1197.0,79 bhp @ 6000 rpm,112.7619 Nm @ 4000 rpm,FWD,3585.0,1595.0,1550.0,5.0,35.0
3,Toyota,Glanza G,19975,2019,37500,Petrol,Manual,Red,First,Individual,1197.0,82 bhp @ 6000 rpm,113 Nm @ 4200 rpm,FWD,3995.0,1745.0,1510.0,5.0,37.0
4,Toyota,Innova 2.4 VX 7 STR [2016-2020],48750,2018,69000,Diesel,Manual,Grey,First,Individual,2393.0,148 bhp @ 3400 rpm,343 Nm @ 1400 rpm,RWD,4735.0,1830.0,1795.0,7.0,55.0

In [50]:
data.isnull().sum()

MAKE                    0
MODEL                   0
PRICE                   0
YEAR                    0
KILOMETER               0
FUEL TYPE               0
TRANSMISSION            0
COLOR                   0
OWNER                   0
SELLER TYPE             0
ENGINE CAPACITY        80
MAX POWER              80
MAX TORQUE             80
DRIVETRAIN            136
LENGTH                 64
WIDTH                  64
HEIGHT                 64
SEATING CAPACITY       64
FUEL TANK CAPACITY    113
dtype: int64

In [51]:
data.dropna(inplace=True)

In [52]:
data.isnull().sum()

MAKE                  0
MODEL                 0
PRICE                 0
YEAR                  0
KILOMETER             0
FUEL TYPE             0
TRANSMISSION          0
COLOR                 0
OWNER                 0
SELLER TYPE           0
ENGINE CAPACITY       0
MAX POWER             0
MAX TORQUE            0
DRIVETRAIN            0
LENGTH                0
WIDTH                 0
HEIGHT                0
SEATING CAPACITY      0
FUEL TANK CAPACITY    0
dtype: int64

In [53]:
data.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1874 entries, 0 to 2057
Data columns (total 19 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   MAKE                1874 non-null   object
 1   MODEL               1874 non-null   object
 2   PRICE               1874 non-null   int64
 3   YEAR                1874 non-null   int64
 4   KILOMETER           1874 non-null   int64
 5   FUEL TYPE           1874 non-null   object
 6   TRANSMISSION        1874 non-null   object
 7   COLOR               1874 non-null   object
 8   OWNER               1874 non-null   object
 9   SELLER TYPE         1874 non-null   object
 10  ENGINE CAPACITY     1874 non-null   float64
 11  MAX POWER           1874 non-null   object
 12  MAX TORQUE          1874 non-null   object
 13  DRIVETRAIN          1874 non-null   object
 14  LENGTH              1874 non-null   float64
 15  WIDTH               1874 non-null   float64
 16  HEIGHT              1874 non-null   float64
 17  SEATING CAPACITY    1874 non-null   float64
 18  FUEL TANK CAPACITY  1874 non-null   float64
dtypes: float64(6), int64(3), object(10)
memory usage: 292.8+ KB

In [54]:
from sklearn.preprocessing import LabelEncoder


# Define the columns to convert
columns_to_convert = ['MAKE', 'MODEL', 'FUEL TYPE', 'TRANSMISSION', 'COLOR', 'OWNER', 'SELLER TYPE', 'DRIVETRAIN', 'MAX POWER','MAX TORQUE']

# Convert categorical columns using LabelEncoder
label_encoder = LabelEncoder()
for column in columns_to_convert:
    data[column] = label_encoder.fit_transform(data[column])

# Verify the dataset after conversion
data.head()

,MAKE,MODEL,PRICE,YEAR,KILOMETER,FUEL TYPE,TRANSMISSION,COLOR,OWNER,SELLER TYPE,ENGINE CAPACITY,MAX POWER,MAX TORQUE,DRIVETRAIN,LENGTH,WIDTH,HEIGHT,SEATING CAPACITY,FUEL TANK CAPACITY
0,7,92,12625,2017,87150,5,1,7,0,1,1198.0,290,5,1,3990.0,1680.0,1505.0,5.0,35.0
1,18,731,11250,2014,75000,2,1,14,1,2,1248.0,268,70,1,3995.0,1695.0,1555.0,5.0,42.0
2,8,940,5500,2011,67000,5,1,8,0,2,1197.0,279,11,1,3585.0,1595.0,1550.0,5.0,35.0
3,29,453,19975,2019,37500,5,1,12,0,2,1197.0,283,14,1,3995.0,1745.0,1510.0,5.0,37.0
4,29,503,48750,2018,69000,2,1,7,0,2,2393.0,73,150,2,4735.0,1830.0,1795.0,7.0,55.0

In [55]:
# Convert dataframe into numpy arrays
X =data.values

In [56]:
# Scaling the data so that all the features/attributes become comparable 
scaler = StandardScaler() 
X_scaled = scaler.fit_transform(X)

### 1.2 K-Means Clustering

### 1.3 Hierarchical Clustering